.cabecalho{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}
.movietitle{
    color: rgb(29, 21, 0);
    font-family: "Suez One", serif;
    font-weight: 200;
    font-style: normal;
    font-size: 80px;
    margin-top: 100px;
}
body{
    background-color: rgb(248, 255, 225);  
}
.movies{
    display: grid;
    grid-template-columns:  repeat(8, 170px);
    gap: 1rem;
    align-items: center;
    margin-left: 12%;
    margin-bottom: 3%;

}
.item{
    padding: 10%;
    text-align: center;
    background-color: rgb(120, 122, 0);
    block-size: 160px;
    color: beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 130px;
}
.totoro{
    padding: 10%;
    text-align: center;
    block-size: 160px;
    color: beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 130px;
    background-image: url("../images/totoro-capa.jpg");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.ponyo{
    padding: 10%;
    text-align: center;
    block-size: 160px;
    color: beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 130px;
    background-image: url("../images/ponyo-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.ocean{
    padding: 10%;
    text-align: center;
    block-size: 160px;
    color: beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 130px;
    background-image: url("../images/ocean-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.spirited{
    padding: 10%;
    text-align: center;
    block-size: 160px;
    color: beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 130px;
    background-image: url("../images/spirited-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cat{
    padding: 10%;
    text-align: center;
    block-size: 160px;
    color: beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 130px;
    background-image: url("../images/cat-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.poppy{
    padding: 10%;
    text-align: center;
    block-size: 160px;
    color: beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 130px;
    background-image: url("../images/poppy-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.whisper{
    padding: 10%;
    text-align: center;
    block-size: 160px;
    color: beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 130px;
    background-image: url("../images/whisper-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.marnie{
    padding: 10%;
    text-align: center;
    block-size: 160px;
    color: beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 130px;
    background-image: url("../images/marnie-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.mononoke{
    padding: 10%;
    text-align: center;
    block-size: 160px;
    color: beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 130px;
    background-image: url("../images/mononoke-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.wind{
    padding: 10%;
    text-align: center;
    block-size: 160px;
    color: beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 130px;
    background-image: url("../images/wind-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.arrietty{
    padding: 10%;
    text-align: center;
    block-size: 160px;
    color: beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 130px;
    background-image: url("../images/arrietty-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.nausicaa{
    padding: 10%;
    text-align: center;
    block-size: 160px;
    color: beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 130px;
    background-image: url("../images/nausicaa-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.castle{
    padding: 10%;
    text-align: center;
    block-size: 160px;
    color: beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 130px;
    background-image: url("../images/castle-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.kiki{
    padding: 10%;
    text-align: center;
    block-size: 160px;
    color: beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 130px;
    background-image: url("../images/kiki-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.grave{
    padding: 10%;
    text-align: center;
    block-size: 160px;
    color: beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 130px;
    background-image: url("../images/grave-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.howls{
    padding: 10%;
    text-align: center;
    block-size: 160px;
    color: beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 130px;
    background-image: url("../images/howls-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.only{
    padding: 10%;
    text-align: center;
    block-size: 160px;
    color: beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 130px;
    background-image: url("../images/only-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.porco{
    padding: 10%;
    text-align: center;
    block-size: 160px;
    color: beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 130px;
    background-image: url("../images/porco-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.yamadas{
    padding: 10%;
    text-align: center;
    block-size: 160px;
    color: beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 130px;
    background-image: url("../images/yamadas-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.tales{
    padding: 10%;
    text-align: center;
    block-size: 160px;
    color: beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 130px;
    background-image: url("../images/tales-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.pom{
    padding: 10%;
    text-align: center;
    block-size: 160px;
    color: beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 130px;
    background-image: url("../images/pom-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.heron{
    padding: 10%;
    text-align: center;
    block-size: 160px;
    color: beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 130px;
    background-image: url("../images/heron-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.footer{
    background-color: aqua;
    
}
