.cabecalho{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: -20px;
    margin-left: -110px;

}
.movietitle{
    color: rgb(29, 21, 0);
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 450;
    font-style: normal;
    font-size: 70px;
    margin-top: 90px;

}
body{
    background-color: rgb(248, 255, 225);
    overflow: hidden;
    font-family: "Roboto Condensed", sans-serif; ;
}
.movies{
    display: grid;
    grid-template-columns:  repeat(8, 170px);
    gap: 1rem;
    align-items: center;
    margin-left: 258px;
    padding-bottom: 60px;
    padding-top: 10px;

}
a{
   display: block;
   block-size: 100%;
   color: transparent;
}

.nausicaa:hover{
    block-size: 209px;
    width: 155px;
    box-shadow: rgb(248, 253, 231) 0px 5px 15px;
    transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.castle:hover{
    block-size: 209px;
    width: 155px;
    box-shadow: rgb(248, 253, 231) 0px 5px 15px;
    transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.totoro:hover{
    block-size: 209px;
    width: 155px;
    box-shadow: rgb(248, 253, 231) 0px 5px 15px;
    transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.grave:hover{
    block-size: 209px;
    width: 155px;
    box-shadow: rgb(248, 253, 231) 0px 5px 15px;
    transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.kiki:hover{
    block-size: 209px;
    width: 155px;
    box-shadow: rgb(248, 253, 231) 0px 5px 15px;
    transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.only:hover{
    block-size: 209px;
    width: 155px;
    box-shadow: rgb(248, 253, 231) 0px 5px 15px;
    transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.porco:hover{
    block-size: 209px;
    width: 155px;
    box-shadow: rgb(248, 253, 231) 0px 5px 15px;
    transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}.ocean:hover{
    block-size: 209px;
    width: 155px;
    box-shadow: rgb(248, 253, 231) 0px 5px 15px;
    transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}.pom:hover{
    block-size: 209px;
    width: 155px;
    box-shadow: rgb(248, 253, 231) 0px 5px 15px;
    transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.whisper:hover{
    block-size: 209px;
    width: 155px;
    box-shadow: rgb(248, 253, 231) 0px 5px 15px;
    transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.mononoke:hover{
    block-size: 209px;
    width: 155px;
    box-shadow: rgb(248, 253, 231) 0px 5px 15px;
    transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.yamadas:hover{
    block-size: 209px;
    width: 155px;
    box-shadow: rgb(248, 253, 231) 0px 5px 15px;
    transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.spirited:hover{
    block-size: 209px;
    width: 155px;
    box-shadow: rgb(248, 253, 231) 0px 5px 15px;
    transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.cat:hover{
    block-size: 209px;
    width: 155px;
    box-shadow: rgb(248, 253, 231) 0px 5px 15px;
    transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.howls:hover{
    block-size: 209px;
    width: 155px;
    box-shadow: rgb(248, 253, 231) 0px 5px 15px;
    transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.tales:hover{
    block-size: 209px;
    width: 155px;
    box-shadow: rgb(248, 253, 231) 0px 5px 15px;
    transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.ponyo:hover{
    block-size: 209px;
    width: 155px;
    box-shadow: rgb(248, 253, 231) 0px 5px 15px;
    transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.arrietty:hover{
    block-size: 209px;
    width: 155px;
    box-shadow: rgb(248, 253, 231) 0px 5px 15px;
    transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.poppy:hover{
    block-size: 209px;
    width: 155px;
    box-shadow: rgb(248, 253, 231) 0px 5px 15px;
    transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.wind:hover{
    block-size: 209px;
    width: 155px;
    box-shadow: rgb(248, 253, 231) 0px 5px 15px;
    transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.kaguya:hover{
    block-size: 209px;
    width: 155px;
    box-shadow: rgb(248, 253, 231) 0px 5px 15px;
    transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.marnie:hover{
    block-size: 209px;
    width: 155px;
    box-shadow: rgb(248, 253, 231) 0px 5px 15px;
    transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.witch:hover{
    block-size: 209px;
    width: 155px;
    box-shadow: rgb(248, 253, 231) 0px 5px 15px;
    transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.heron:hover{
    block-size: 209px;
    width: 155px;
    box-shadow: rgb(248, 253, 231) 0px 5px 15px;
    transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.totoro{
    background-size: cover;
    padding: 0%;
    text-align: center;
    block-size: 216px;
    width: 160px;
    background-image: url("../images/totoro-capa.jpg");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2%;
    transition: all 0.2s;
}
.ponyo{
    background-size: cover;
    padding: 0%;
    text-align: center;
    block-size: 216px;
    width: 160px;
    background-image: url("../images/ponyo-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2%;
    transition: all 0.2s;

}
.ocean{
    transition: all 0.2s;
    background-size: cover;
    padding: 0%;
    text-align: center;
    block-size: 216px;
    width: 160px;
    background-image: url("../images/ocean-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2%;
}
.spirited{
    transition: all 0.2s;
    background-size: cover;
    padding: 0%;
    text-align: center;
    block-size: 216px;
    width: 160px;
    background-image: url("../images/spirited-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2%;
}
.cat{
    transition: all 0.2s;
    background-size: cover;
    padding: 0%;
    text-align: center;
    block-size: 216px;
    width: 160px;
    background-size: cover;
    background-image: url("../images/cat-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2%;
}
.poppy{
    transition: all 0.2s;
    background-size: cover;
    padding: 0%;
    text-align: center;
    block-size: 216px;
    width: 160px;
    background-size: cover;
    background-image: url("../images/poppy-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2%;
}
.whisper{
    transition: all 0.2s;
    background-size: cover;
    padding: 0%;
    text-align: center;
    block-size: 216px;
    width: 160px;
    background-size: cover;
    background-image: url("../images/whisper-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2%;
}
.marnie{
    transition: all 0.2s;
    background-size: cover;
    padding: 0%;
    text-align: center;
    block-size: 216px;
    width: 160px;
    background-size: cover;
    background-image: url("../images/marnie-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2%;
}
.mononoke{
    transition: all 0.2s;
    background-size: cover;
    padding: 0%;
    text-align: center;
    block-size: 216px;
    width: 160px;
    background-size: cover;
    background-image: url("../images/mononoke-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2%;
}
.wind{
    transition: all 0.2s;
    background-size: cover;
    padding: 0%;
    text-align: center;
    block-size: 216px;
    width: 160px;
    background-size: cover;
    background-image: url("../images/wind-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2%;
}
.arrietty{
    transition: all 0.2s;
    background-size: cover;
    padding: 0%;
    text-align: center;
    block-size: 216px;
    width: 160px;
    background-size: cover;
    background-image: url("../images/arrietty-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2%;
}
.nausicaa{
    transition: all 0.2s;
    background-size: cover;
    padding: 0%;
    text-align: center;
    block-size: 216px;
    width: 160px;
    background-size: cover;
    background-image: url("../images/nausicaa-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2%;
}
.castle{
    transition: all 0.2s;
    background-size: cover;
    padding: 0%;
    text-align: center;
    block-size: 216px;
    width: 160px;
    background-size: cover;
    background-image: url("../images/castle-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2%;
}
.kiki{
    transition: all 0.2s;
    background-size: cover;
    padding: 0%;
    text-align: center;
    block-size: 216px;
    width: 160px;
    background-size: cover;
    background-image: url("../images/kiki-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2%;
}
.grave{
    transition: all 0.2s;
    background-size: cover;
    padding: 0%;
    text-align: center;
    block-size: 216px;
    width: 160px;
    background-size: cover;

    background-image: url("../images/grave-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2%;
}
.howls{
    transition: all 0.2s;
    background-size: cover;
    padding: 0%;
    text-align: center;
    block-size: 216px;
    width: 160px;
    background-size: cover;
    background-image: url("../images/howls-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2%;
}
.only{
    transition: all 0.2s;
    background-size: cover;
    padding: 0%;
    text-align: center;
    block-size: 216px;
    width: 160px;
    background-size: cover;
    background-image: url("../images/only-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2%;
}
.porco{
    transition: all 0.2s;
    background-size: cover;
    padding: 0%;
    text-align: center;
    block-size: 216px;
    width: 160px;
    background-size: cover;
    background-image: url("../images/porco-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2%;
}
.yamadas{
    transition: all 0.2s;
    background-size: cover;
    padding: 0%;
    text-align: center;
    block-size: 216px;
    width: 160px;
    background-size: cover;
    background-image: url("../images/yamadas-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2%;
}
.tales{
    transition: all 0.2s;
    background-size: cover;
    padding: 0%;
    text-align: center;
    block-size: 216px;
    width: 160px;
    background-size: cover;
    background-image: url("../images/tales-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2%;
}
.pom{
    transition: all 0.2s;
    background-size: cover;
    padding: 0%;
    text-align: center;
    block-size: 216px;
    width: 160px;
    background-size: cover;
    background-image: url("../images/pom-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2%;
}
.heron{
    transition: all 0.2s;
    background-size: cover;
    padding: 0%;
    text-align: center;
    block-size: 216px;
    width: 160px;
    background-size: cover;
    background-image: url("../images/heron-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2%;
}
.witch{
    transition: all 0.2s;
    background-size: cover;
    padding: 0%;
    text-align: center;
    block-size: 216px;
    width: 160px;
    background-size: cover;
    background-image: url("../images/witch-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2%;
}
.kaguya{
    transition: all 0.2s;
    background-size: cover;
    padding: 0%;
    text-align: center;
    block-size: 216px;
    width: 160px;
    background-size: cover;
    background-image: url("../images/kaguya-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2%;
}
.espantalho{
    display: flex;
    position: absolute;
    margin-top: 525px;
    margin-left: 30px;
}
.footer{
    background-image: url("../images/grama-principal.png");
    background-repeat: repeat;
    background-size: contain;
    margin-bottom: 0px;
    margin-left: -10px;
    margin-right: -8px;
    margin-top: -20px;
    height: 60px;
    
}
.imagens-lateral{
    display: grid;
    padding: 0px;
    margin: 0px;
}
.img-pag{
    padding: 0%;
    margin: 0%;
    width: 750px;
}
.nausicaa-body{
    display: grid;
    grid-template-columns: 800px 1100px;
    margin: 0%;
    overflow:scroll;
}
h1{
    color: rgb(29, 21, 0);
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 550;
    font-style: normal;
    font-size: 70px;
    margin-left: 30px;
}
.primeira-coluna{
    display: grid;
    color: rgb(255, 237, 190);
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 550;
    font-size: 20px;
    padding-left: 50px;
    
}
.segunda-coluna{
    display: grid;
    color: rgb(255, 237, 190);
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 550;
    font-size: 20px;
    padding-left: 50px;
    
}
.dados-tecnicos{
    display: grid;
    grid-template-columns: 500px 500px;
    gap: 0rem;
    background-color:rgb(163, 139, 76);
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
}
h2{
    color: rgb(29, 21, 0);
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 45px;
    margin: 30px;
}
.texto{
    color: rgb(29, 21, 0);
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
    margin: 30px;
    text-align: justify;
    line-height: 33px;
}
.trilha{
    margin: 30px;
}
.trailer{
    margin: 30px;
}
.assistir{
    margin-left: 350px;
    display: grid;
    grid-template-columns: 300px 300px;
    margin-top: -90px;
    
}
h3{
    color: rgb(255, 237, 190);
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    margin-top: 40px;
    margin-right: 30px;
    margin-bottom: 0%;
    text-align: center;
    padding: 10px;
}
.retorno{
    background-color:rgb(163, 139, 76);
    display: block;
    border-radius: 10px;
    margin: 30px;
}