.cabecalho{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: -20px;

}
.movietitle{
    color: rgb(29, 21, 0);
    font-family: "Suez One", serif;
    font-weight: 200;
    font-style: normal;
    font-size: 80px;
    margin-top: 100px;
    padding:50px;
    padding-bottom: 30px;
}
body{
    background-color: rgb(248, 255, 225);  
}
.movies{
    display: grid;
    grid-template-columns:  repeat(8, 180px);
    gap: 1rem;
    align-items: center;
    margin-left: 450px;
    padding-bottom: 80px;
    padding-top: 10px;

}

.totoro{
    padding: 10%;
    text-align: center;
    block-size: 195px;
    color: beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 145px;
    background-image: url("../images/totoro-capa.jpg");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2%;
    background-size: cover;
}
.ponyo{
    padding: 10%;
    text-align: center;
    block-size: 195px;
    background-size: cover;
    color: beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 145px;
    background-image: url("../images/ponyo-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2%;

}
.ocean{
    padding: 10%;
    text-align: center;
    block-size: 195px;
    background-size: cover;
    color: beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 145px;
    background-image: url("../images/ocean-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2%;
}
.spirited{
    padding: 10%;
    text-align: center;
    block-size: 195px;
    background-size: cover;
    color: beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 145px;
    background-image: url("../images/spirited-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2%;
}
.cat{
    padding: 10%;
    text-align: center;
    block-size: 195px;
    background-size: cover;
    color: beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 145px;
    background-image: url("../images/cat-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2%;
}
.poppy{
    padding: 10%;
    text-align: center;
    block-size: 195px;
    background-size: cover;
    color: beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 145px;
    background-image: url("../images/poppy-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2%;
}
.whisper{
    padding: 10%;
    text-align: center;
    block-size: 195px;
    background-size: cover;
    color: beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 145px;
    background-image: url("../images/whisper-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2%;
}
.marnie{
    padding: 10%;
    text-align: center;
    block-size: 195px;
    background-size: cover;
    color: beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 145px;
    background-image: url("../images/marnie-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2%;
}
.mononoke{
    padding: 10%;
    text-align: center;
    block-size: 195px;
    background-size: cover;
    color: beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 145px;
    background-image: url("../images/mononoke-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2%;
}
.wind{
    padding: 10%;
    text-align: center;
    block-size: 195px;
    background-size: cover;
    color: beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 145px;
    background-image: url("../images/wind-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2%;
}
.arrietty{
    padding: 10%;
    text-align: center;
    block-size: 195px;
    background-size: cover;
    color: beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 145px;
    background-image: url("../images/arrietty-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2%;
}
.nausicaa{
    padding: 10%;
    text-align: center;
    block-size: 195px;
    background-size: cover;
    color: beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 145px;
    background-image: url("../images/nausicaa-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2%;
}
.castle{
    padding: 10%;
    text-align: center;
    block-size: 195px;
    background-size: cover;
    color: beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 145px;
    background-image: url("../images/castle-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2%;
}
.kiki{
    padding: 10%;
    text-align: center;
    block-size: 195px;
    background-size: cover;
    color: beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 145px;
    background-image: url("../images/kiki-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2%;
}
.grave{
    padding: 10%;
    text-align: center;
    block-size: 195px;
    background-size: cover;
    color: beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 145px;
    background-image: url("../images/grave-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2%;
}
.howls{
    padding: 10%;
    text-align: center;
    block-size: 195px;
    background-size: cover;
    color: beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 145px;
    background-image: url("../images/howls-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2%;
}
.only{
    padding: 10%;
    text-align: center;
    block-size: 195px;
    background-size: cover;
    color: beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 145px;
    background-image: url("../images/only-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2%;
}
.porco{
    padding: 10%;
    text-align: center;
    block-size: 195px;
    background-size: cover;
    color: beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 145px;
    background-image: url("../images/porco-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2%;
}
.yamadas{
    padding: 10%;
    text-align: center;
    block-size: 195px;
    background-size: cover;
    color: beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 145px;
    background-image: url("../images/yamadas-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2%;
}
.tales{
    padding: 10%;
    text-align: center;
    block-size: 195px;
    background-size: cover;
    color: beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 145px;
    background-image: url("../images/tales-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2%;
}
.pom{
    padding: 10%;
    text-align: center;
    block-size: 195px;
    background-size: cover;
    color: beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 145px;
    background-image: url("../images/pom-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2%;
}
.heron{
    padding: 10%;
    text-align: center;
    block-size: 195px;
    background-size: cover;
    color: beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 145px;
    background-image: url("../images/heron-capa.png");
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2%;
}
.footer{
    background-image: url("../images/grama-principal.png");
    background-repeat: repeat;
    background-size: contain;
    margin-bottom: -50px;
    margin-left: -10px;
    margin-right: -8px;
    margin-top: -49px;
    height: 90px;
    
}
.totoro-pag{
    position: absolute;
    display: flex;
    margin-top: -330px;
    margin-left: 1850px;
    height: 400px;
}
